<body>
  <div id="gamewindow">
  </div>

  {{> loginButtons}}

  <form class='new-player'>
    <input type='text' name='owner' placeholder='owner'>
    <input type='submit'>
  </form>
  {{#each players}}
    {{> player}}
  {{/each}}
</body>

<template name="player">
  <div>
    <!-- <button class="move left">left</button> -->
    <!-- <button class="move right">right</button> -->
    ({{position.x}}, {{position.y}}) -> <br/> ({{target.x}}, {{target.y}})
  </div>
</template>
